<a href="https://colab.research.google.com/github/matelslime/python-Note/blob/main/20230304.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20230304 筆記

## 抓取網頁原始碼

In [ ]:
import requests

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取 Ajax 網頁資料

### 從非 ajax 的網頁上，可以直接看到資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [ ]:
import pandas as pd

In [ ]:
dfs = pd.read_html(url)

In [ ]:
dfs

[Empty DataFrame
 Columns: [(Unnamed: 0_level_0, Date), (Open, Unnamed: 1_level_1), (High, Unnamed: 2_level_1), (Low, Unnamed: 3_level_1), (Close, Unnamed: 4_level_1), (Adj Close, Unnamed: 5_level_1), (Volume, Unnamed: 6_level_1)]
 Index: []]

In [ ]:
dfs[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從 ajax 網頁上，可能看不到資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AJAX範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
  <div class="container">
    <table border="1" class="dataframe table table-striped">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
          </tr>
          <tr>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="spy">

        </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "spy.json",
            dataType: 'json',
            type: 'get',
            cache:false,
            success: function(data){
                // console.log(data);
                var event_data = '';
                $.each(data, function(index, value){
                    // console.log(value);
                    event_data += '<tr>';
                    event_data += '<th>'+value.Date+'</th>';
                    event_data += '<td>'+value.Open+'</td>';
                    event_data += '<td>'+value.High+'</td>';
                    event_data += '<td>'+value.Low+'</td>';
                    event_data += '<td>'+value.Close+'</td>';
                    event_data += '<td>'+value['Adj Close']+'</td>';
                    event_data += '<td>'+value.Volume+'</td>';
                    event_data += '</tr>';
                });
                $("#spy").append(event_data);
            },
            error: function(d){
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
    </script>


</body>
</html>

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy.json"

In [ ]:
data = requests.get(url).json()

In [ ]:
df = pd.read_json(url)

In [ ]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

In [ ]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [ ]:
r.headers

{'Connection': 'keep-alive', 'Content-Length': '949', 'Server': 'GitHub.com', 'Content-Type': 'text/html; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Sat, 09 Oct 2021 21:20:24 GMT', 'Access-Control-Allow-Origin': '*', 'ETag': 'W/"61620798-9ed"', 'expires': 'Sat, 04 Mar 2023 02:10:29 GMT', 'Cache-Control': 'max-age=600', 'Content-Encoding': 'gzip', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': '4718:32B6:1BE287:24139B:6402A63D', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 04 Mar 2023 02:13:18 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-chi-klot8100033-CHI', 'X-Cache': 'HIT', 'X-Cache-Hits': '1', 'X-Timer': 'S1677895998.216721,VS0,VE28', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': 'a378282ade94b9608b7b33d2187d1807af8b5daa'}

## 關於 pandas 的 read_html()

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
dfs = pd.read_html(url)

In [ ]:
type(dfs)

list

In [ ]:
len(dfs)

In [ ]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [ ]:
dfs[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0      January 5, 2023    NaN                            NaN     VNO
1      January 4, 2023   GEHC                  GE HealthCare     NaN
2    December 22, 2022   STLD                 Steel Dynamics    ABMD
3    December 19, 2022   FSLR                    First Solar    FBHS
4    December 19, 2022    NaN                            NaN     MBC
..                 ...    ...                            ...     ...
315       June 9, 1999    WLP                      Wellpoint     HPH
316  December 11, 1998    FSR                        Firstar     LDW
317  December 11, 1998    CCL                 Carnival Corp.     GRN
318  December 11, 1998   CPWR                      Compuware     SUN
319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                     \
                           Security
0              Vornado Realty Trust
1                               NaN
2                           Abiomed
3    Fortune Brands Home & Security
4                       MasterBrand
..                              ...
315        Harnischfeger Industries
316                           Amoco
317                      General Re
318                      SunAmerica
319                          USLife

                                                Reason
                                                Reason
0                     Market capitalization change.[4]
1    S&P 500 constituent General Electric spun off ...
2    S&P 500 constituent Johnson & Johnson acquired...
3                     Market capitalization change.[7]
4                     Market capitalization change.[7]
..                                                 ...
315           Harnischfeger filed for bankruptcy.[241]
316            British Petroleum purchased Amoco.[242]
317      Berkshire Hathaway purchased General Re.[242]
318                     AIG purchased SunAmerica.[242]
319                          AIG acquired USLife.[243]

[320 rows x 6 columns]

# 剖析網頁原始碼

In [ ]:
#"""多行字串
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>"""

In [ ]:
type(s)

str

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(s)

In [ ]:
soup.h1

In [ ]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [ ]:
soup.select('li')

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [ ]:
soup.select('li')[0].text

' HTML 範例'

In [ ]:
for x in soup.select("li"):
  print(x.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(i, ":", x.text)

0 :  HTML 範例
1 :  HTML + CSS 範例
2 :  HTML + CSS + Javascript 範例
3 :  example01.html (爬蟲抓取用範例)
4 :  example02.html (爬蟲抓取用範例)
5 :  example03.html (爬蟲抓取用範例)
6 :  example04.html (爬蟲抓取用範例)
7 :  example05.html (爬蟲抓取用範例)
8 :  Classic HTML 範例 (爬蟲抓取用範例)
9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化

In [ ]:
x = 1
y = 1.23
z = True
w = "dog"

In [ ]:
print(x, y, z, w)

1 1.23 True dog

In [ ]:
print(x, y, z, w, sep="")

11.23Truedog

In [ ]:
print(x, y, z, w, sep="+")

1+1.23+True+dog

### f-string (3.5+)

In [ ]:
print(f"{x}, {y}, {z}, {w}")

1, 1.23, True, dog

In [ ]:
print("{x}, {y}, {z}, {w}")

{x}, {y}, {z}, {w}

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w}")
print(f"{x:05}, {y}, {z}, {w}")

1, 1.23, True, dog
    1, 1.23, True, dog
00001, 1.23, True, dog

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y:7.2f}, {z}, {w}")#因為是浮點數所以要加f
print(f"{x}, {y:07.2f}, {z}, {w}")

1, 1.23, True, dog
1,    1.23, True, dog
1, 0001.23, True, dog

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")

1, 1.23, True, dog
1, 1.23, True, dog
1, 1.23, True,        dog
1, 1.23, True, dog
1, 1.23, True, dog

### string.format

In [ ]:
print("{}, {}, {}, {}".format(x, y, z, w))

1, 1.23, True, dog

In [ ]:
print("{}, {}, {}, {}, {}".format(x, y, z, w))

IndexError: ignored

In [ ]:
print("{}, {}, {}".format(x, y, z, w))

1, 1.23, True

In [ ]:
print("{0}, {1}, {2}, {1}".format(x, y, z, w))

1, 1.23, True, 1.23

In [ ]:
print("{a}, {b}, {c}, {d}".format(a=x, b=y, c=z, d=w))

1, 1.23, True, dog

### 練習

https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [ ]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [ ]:
for i in popularity:
  print(format_string.format(i[0], i[1], i[2], i[3], i[4], i[5], i[6], i[7]))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

In [ ]:
# 使用 * unpack list
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

## 使用 css selector 來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [ ]:
r = requests.get(url)

In [ ]:
soup = BeautifulSoup(r.text)

In [ ]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

## 抓取露天拍賣資料

https://www.ruten.com.tw/category/0011

In [ ]:
url ="https://www.ruten.com.tw/category/0011"

In [ ]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [ ]:
r = requests.get(url, headers=headers)

In [ ]:
'凸頭' in r.text

False

In [ ]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [ ]:
data = requests.get(url, headers=headers).json()

In [ ]:
type(data)

dict

In [ ]:
data

In [ ]:
data.keys()

dict_keys(['status', 'data'])

In [ ]:
type(data['data'])

list

In [ ]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [ ]:
len(data['data'])

11

In [ ]:
for i in data['data']:
  print(f"{i['name']} ==> {i['goods_price_range']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion ==> {'min': 8, 'max': 24, 'ori_min': 8, 'ori_max': 24}
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB ==> {'min': 39, 'max': 119, 'ori_min': 39, 'ori_max': 119}
三菱電機HC-BH023-S12   99新 ==> {'min': 39000, 'max': 40950, 'ori_min': 39000, 'ori_max': 40950}
【秀秀】三菱PLC模塊 QJ72LP25-25 全新 ==> {'min': 33000, 'max': 33000, 'ori_min': 33000, 'ori_max': 33000}
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦 ==> {'min': 25900, 'max': 29900, 'ori_min': 25900, 'ori_max': 29900}
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX ==> {'min': 50760, 'max': 50760, 'ori_min': 50760, 'ori_max': 50760}
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦 ==> {'min': 23692, 'max': 23692, 'ori_min': 23692, 'ori_max': 23692}
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本) ==> {'min': 22800, 'max': 22800, 'ori_min': 22800, 'ori_max': 22800}
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝 ==> {'min': 38280, 'max': 38280, 'ori_min': 38280, 'ori_max': 38280}
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠 ==> {'min': 155, 'max': 155, 'ori_min': 155, 'ori_max': 155}
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈 ==> {'min': 199, 'max': 230, 'ori_min': 199, 'ori_max': 230}

## 抓取政府電子採購網資料

In [ ]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [ ]:
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs

[                                                   0  \
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    1  \
 0                                               全文查詢
 1                                               標案種類
 2                                               排序欄位
 3                                               查詢範圍
 4                                               檢索設定
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    2  \
 0                                                NaN
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                  招標公告日期  決標或無法決標公告
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                              同音 容錯
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    3  \
 0                                                NaN
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                  招標公告日期  決標或無法決標公告
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                                NaN
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    4  \
 0                                                NaN
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                                NaN
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                               每頁筆數
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    5  \
 0                                             從結果中查詢
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                                NaN
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                    10  20  50  100
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    6  \
 0                                             從結果中查詢
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                                NaN
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                                NaN
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...

                                                    7
 0                                                NaN
 1                            招標  決標 公開閱覽及公開徵求 政府採購預告
 2                                                NaN
 3  112年1至12月  111年1至12月  110年1至12月  109年1至12月  10...
 4                                                NaN
 5                                                 查詢
 6  註：  ◎  全文查詢設定範例：  你可以使用  AND（或用『 , 』、『 & 』）, O...  ,
            0          1          2          3
 0  112年1至12月  111年1至12月  110年1至12月  109年1至12月
 1  108年1至12月  107年1至12月  106年1至12月  105年1至12月
 2  104年1至12月  103年1至12月  102年1至12月  101年1至12月
 3  100年1至12月   99年1至12月   98年1至12月   97年1至12月
 4   96年1至12月   95年1至12月   94年1至12月   93年1至12月
 5   92年1至12月   91年1至12月   90年1至12月   89年1至12月
 6   88年1至12月        NaN        NaN        NaN,
      0    1                                                  2
 0   註：    ◎                                          全文查詢設定範例：
 1  NaN  NaN  你可以使用  AND（或用『 , 』、『 & 』）, OR（或用『 ; 』、『 | 』）, ...
 2  NaN  NaN                                                NaN
 3  NaN  NaN  可以輸入『水電 and 委外服務』 、 『水電  AND 委外服務』、『水電,委外服務』、『...
 4  NaN  NaN                                                NaN
 5  NaN    ◎  全文檢索可查詢的欄位範圍有：機關名稱、機關代碼、標案名稱、標案案號、得標廠商、投標廠商、廠商...
 6  NaN    ◎       索引檔更新時間為：03:30、12:30、18:00(更新時間會依系統效能因素而變動)。
 7  NaN    ◎                            「政府採購預告」自98年4月起開放使用及查詢。,
     0                                                  1
 0 NaN  可以輸入『水電 and 委外服務』 、 『水電  AND 委外服務』、『水電,委外服務』、『...,
    項次    種類             機關名稱  \
 0   1  招標公告    臺北市政府工務局新建工程處
 1   2  招標公告  交通部公路總局第五區養護工程處
 2   3  招標公告         高雄市立民生醫院
 3   4  招標公告    國立臺灣大學醫學院附設醫院
 4   5  招標公告       台灣電力股份有限公司
 5   6  招標公告         臺北市政府工務局
 6   7  招標公告  交通部公路總局第二區養護工程處
 7   8  招標公告     臺中市大里區立新國民小學
 8   9  招標公告         桃園市平鎮區公所
 9  10  招標公告     臺北大眾捷運股份有限公司

                                             標案案號標案名稱     招標公告日期  決標或無法決標公告  \
 0  11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金...  112/03/03        NaN
 1  112010008  var hw = Geps3.CNS.pageCode2Img("11...  112/03/03        NaN
 2  KMSH11023  var hw = Geps3.CNS.pageCode2Img("電腦...  112/03/03        NaN
 3  PA2200704  var hw = Geps3.CNS.pageCode2Img("高劑...  112/03/03        NaN
 4  0061100014  var hw = Geps3.CNS.pageCode2Img("電...  112/03/03        NaN
 5  1120210S0036  var hw = Geps3.CNS.pageCode2Img(...  112/03/03        NaN
 6  112-08007  var hw = Geps3.CNS.pageCode2Img("第二...  112/03/03        NaN
 7  1120302  var hw = Geps3.CNS.pageCode2Img("112年...  112/03/03        NaN
 8  1120109001  var hw = Geps3.CNS.pageCode2Img("1...  112/03/03        NaN
 9  C12B00276  var hw = Geps3.CNS.pageCode2Img("錢幣...  112/03/03        NaN

       截止投標日期  公開閱覽/徵求日期  預告公告日期 功能選項
 0  112/03/13        NaN     NaN   檢視
 1  112/03/21        NaN     NaN   檢視
 2  112/03/08        NaN     NaN   檢視
 3  112/03/10        NaN     NaN   檢視
 4  112/03/20        NaN     NaN   檢視
 5  112/03/28        NaN     NaN   檢視
 6  112/03/21        NaN     NaN   檢視
 7  112/03/07        NaN     NaN   檢視
 8  112/03/09        NaN     NaN   檢視
 9  112/03/16        NaN     NaN   檢視  ]

In [ ]:
dfs[4]

,項次,種類,機關名稱,標案案號標案名稱,招標公告日期,決標或無法決標公告,截止投標日期,公開閱覽/徵求日期,預告公告日期,功能選項
0,1,招標公告,臺北市政府工務局新建工程處,"11211 var hw = Geps3.CNS.pageCode2Img(""容積代金基金...",112/03/03,NaN,112/03/13,NaN,NaN,檢視
1,2,招標公告,交通部公路總局第五區養護工程處,"112010008 var hw = Geps3.CNS.pageCode2Img(""11...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
2,3,招標公告,高雄市立民生醫院,"KMSH11023 var hw = Geps3.CNS.pageCode2Img(""電腦...",112/03/03,NaN,112/03/08,NaN,NaN,檢視
3,4,招標公告,國立臺灣大學醫學院附設醫院,"PA2200704 var hw = Geps3.CNS.pageCode2Img(""高劑...",112/03/03,NaN,112/03/10,NaN,NaN,檢視
4,5,招標公告,台灣電力股份有限公司,"0061100014 var hw = Geps3.CNS.pageCode2Img(""電...",112/03/03,NaN,112/03/20,NaN,NaN,檢視
5,6,招標公告,臺北市政府工務局,1120210S0036 var hw = Geps3.CNS.pageCode2Img(...,112/03/03,NaN,112/03/28,NaN,NaN,檢視
6,7,招標公告,交通部公路總局第二區養護工程處,"112-08007 var hw = Geps3.CNS.pageCode2Img(""第二...",112/03/03,NaN,112/03/21,NaN,NaN,檢視
7,8,招標公告,臺中市大里區立新國民小學,"1120302 var hw = Geps3.CNS.pageCode2Img(""112年...",112/03/03,NaN,112/03/07,NaN,NaN,檢視
8,9,招標公告,桃園市平鎮區公所,"1120109001 var hw = Geps3.CNS.pageCode2Img(""1...",112/03/03,NaN,112/03/09,NaN,NaN,檢視
9,10,招標公告,臺北大眾捷運股份有限公司,"C12B00276 var hw = Geps3.CNS.pageCode2Img(""錢幣...",112/03/03,NaN,112/03/16,NaN,NaN,檢視

In [ ]:
dfs[4]['標案案號標案名稱'][0]

'11211  var hw = Geps3.CNS.pageCode2Img("容積代金基金採購私有公共設施保留地線上投標系統案");$("#1").html(hw);'

## 讀取政府資料開放平台實價登錄資料

e.g.:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [159]:
url = "https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [160]:
df = pd.read_csv(url)

URLError: ignored

In [ ]:
df.head()

### 將 DataFrame 轉存成不同格式

In [ ]:
df.to_excel('實價登錄資料.xlsx')

In [ ]:
df.head(100).to_html('實價登錄前一百筆資料.html')

In [ ]:
df.head(100).to_json('實價登錄前一百筆資料.json')

## 檔案的IO

### 文字檔

一般作法：

```python
f = open('test.txt', 'w')
f.write(data)
f.close()
```

替代性作法(使用完會自動關閉)：
```python
with open('test.txt', 'w') as f:
  f.write(data)
```

In [150]:
open?

### 二進位檔 (Binary Files)

譬如：圖片, excel檔等

一般作法：

```python
f = open('test.jpg', 'wb')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.jpg', 'wb') as f:
  f.write(data)
```

### 抓取網頁原始碼並存成文字檔

In [154]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [155]:
r = requests.get(url)

In [156]:
with open('index.html', 'w') as f:
  f.write(r.text)

### 抓取圖片並存成圖片檔

In [151]:
url = "https://victorgau.github.io/khpy_web_intro/ninja.jpg"

In [152]:
r = requests.get(url)

In [153]:
with open('ninja.jpg', 'wb') as f:
  f.write(r.content)

## 練習 Pandas 的使用

In [162]:
import numpy as np
import pandas as pd

## 準備資料

In [163]:
grades = np.random.randint(30, 101, (10, 4))

In [164]:
grades

array([[ 74,  84,  52,  87],
       [ 36,  87, 100,  71],
       [ 95,  99,  77,  32],
       [ 86,  47,  93,  91],
       [ 83,  72,  71,  64],
       [ 80,  77,  55,  69],
       [ 94,  71,  63,  92],
       [ 36,  75,  35,  78],
       [ 61,  90,  45,  94],
       [ 49,  35,  40,  81]])

In [165]:
df = pd.DataFrame(grades)

In [166]:
df

    0   1    2   3
0  74  84   52  87
1  36  87  100  71
2  95  99   77  32
3  86  47   93  91
4  83  72   71  64
5  80  77   55  69
6  94  71   63  92
7  36  75   35  78
8  61  90   45  94
9  49  35   40  81

In [170]:
df.columns = ['國文','英文','數學','理化']

In [167]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇",
            "陳仲燦","王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [168]:
df

      0   1    2   3
郭雅惠  74  84   52  87
陳欣虹  36  87  100  71
王孟修  95  99   77  32
李政勇  86  47   93  91
陳仲燦  83  72   71  64
王寧東  80  77   55  69
楊雅名  94  71   63  92
藍冰啟  36  75   35  78
林玉亨  61  90   45  94
崔承睿  49  35   40  81

## 列出國文不及格的同學名單

In [171]:
# 取出國文成績
df['國文']

郭雅惠    74
陳欣虹    36
王孟修    95
李政勇    86
陳仲燦    83
王寧東    80
楊雅名    94
藍冰啟    36
林玉亨    61
崔承睿    49
Name: 國文, dtype: int64

In [172]:
# 判斷成績是否及格：True:不及格, False:及格
df['國文'] < 60

郭雅惠    False
陳欣虹     True
王孟修    False
李政勇    False
陳仲燦    False
王寧東    False
楊雅名    False
藍冰啟     True
林玉亨    False
崔承睿     True
Name: 國文, dtype: bool

In [173]:
# Filtering
df[df['國文'] < 60]

     國文  英文   數學  理化
陳欣虹  36  87  100  71
藍冰啟  36  75   35  78
崔承睿  49  35   40  81

## 列出國文跟英文都不及格的同學名單

In [174]:
df['英文'] < 60

郭雅惠    False
陳欣虹    False
王孟修    False
李政勇     True
陳仲燦    False
王寧東    False
楊雅名    False
藍冰啟    False
林玉亨    False
崔承睿     True
Name: 英文, dtype: bool

In [175]:
# 使用 & (and) 連接兩個條件 (註: | (or))
df[(df['國文'] < 60) & (df['英文'] < 60)]

     國文  英文  數學  理化
崔承睿  49  35  40  81

## 計算總分及平均

In [176]:
df

     國文  英文   數學  理化
郭雅惠  74  84   52  87
陳欣虹  36  87  100  71
王孟修  95  99   77  32
李政勇  86  47   93  91
陳仲燦  83  72   71  64
王寧東  80  77   55  69
楊雅名  94  71   63  92
藍冰啟  36  75   35  78
林玉亨  61  90   45  94
崔承睿  49  35   40  81

In [177]:
df.sum()

國文    694
英文    737
數學    631
理化    759
dtype: int64

In [178]:
df.sum?

In [179]:
df.sum(axis=1)

郭雅惠    297
陳欣虹    294
王孟修    303
李政勇    317
陳仲燦    290
王寧東    281
楊雅名    320
藍冰啟    224
林玉亨    290
崔承睿    205
dtype: int64

In [180]:
df['總分'] = df.sum(axis=1)

In [181]:
df

     國文  英文   數學  理化   總分
郭雅惠  74  84   52  87  297
陳欣虹  36  87  100  71  294
王孟修  95  99   77  32  303
李政勇  86  47   93  91  317
陳仲燦  83  72   71  64  290
王寧東  80  77   55  69  281
楊雅名  94  71   63  92  320
藍冰啟  36  75   35  78  224
林玉亨  61  90   45  94  290
崔承睿  49  35   40  81  205

In [182]:
df.mean(axis=1)

郭雅惠    118.8
陳欣虹    117.6
王孟修    121.2
李政勇    126.8
陳仲燦    116.0
王寧東    112.4
楊雅名    128.0
藍冰啟     89.6
林玉亨    116.0
崔承睿     82.0
dtype: float64

In [183]:
df[['國文','英文','數學','理化']].mean(axis=1)

郭雅惠    74.25
陳欣虹    73.50
王孟修    75.75
李政勇    79.25
陳仲燦    72.50
王寧東    70.25
楊雅名    80.00
藍冰啟    56.00
林玉亨    72.50
崔承睿    51.25
dtype: float64

In [184]:
df['平均'] = df[['國文','英文','數學','理化']].mean(axis=1)

In [185]:
df

     國文  英文   數學  理化   總分     平均
郭雅惠  74  84   52  87  297  74.25
陳欣虹  36  87  100  71  294  73.50
王孟修  95  99   77  32  303  75.75
李政勇  86  47   93  91  317  79.25
陳仲燦  83  72   71  64  290  72.50
王寧東  80  77   55  69  281  70.25
楊雅名  94  71   63  92  320  80.00
藍冰啟  36  75   35  78  224  56.00
林玉亨  61  90   45  94  290  72.50
崔承睿  49  35   40  81  205  51.25

## 輸出成 excel 檔

In [186]:
df.to_excel('成績.xlsx')

## 找出名次

In [187]:
df

     國文  英文   數學  理化   總分     平均
郭雅惠  74  84   52  87  297  74.25
陳欣虹  36  87  100  71  294  73.50
王孟修  95  99   77  32  303  75.75
李政勇  86  47   93  91  317  79.25
陳仲燦  83  72   71  64  290  72.50
王寧東  80  77   55  69  281  70.25
楊雅名  94  71   63  92  320  80.00
藍冰啟  36  75   35  78  224  56.00
林玉亨  61  90   45  94  290  72.50
崔承睿  49  35   40  81  205  51.25

In [188]:
df.rank()

       國文    英文    數學    理化    總分    平均
郭雅惠   5.0   7.0   4.0   7.0   7.0   7.0
陳欣虹   1.5   8.0  10.0   4.0   6.0   6.0
王孟修  10.0  10.0   8.0   1.0   8.0   8.0
李政勇   8.0   2.0   9.0   8.0   9.0   9.0
陳仲燦   7.0   4.0   7.0   2.0   4.5   4.5
王寧東   6.0   6.0   5.0   3.0   3.0   3.0
楊雅名   9.0   3.0   6.0   9.0  10.0  10.0
藍冰啟   1.5   5.0   1.0   5.0   2.0   2.0
林玉亨   4.0   9.0   3.0  10.0   4.5   4.5
崔承睿   3.0   1.0   2.0   6.0   1.0   1.0

In [189]:
df['總分'].rank(ascending=False)

郭雅惠     4.0
陳欣虹     5.0
王孟修     3.0
李政勇     2.0
陳仲燦     6.5
王寧東     8.0
楊雅名     1.0
藍冰啟     9.0
林玉亨     6.5
崔承睿    10.0
Name: 總分, dtype: float64

In [191]:
df['名次'] = df['總分'].rank(ascending=False)

In [192]:
df

     國文  英文   數學  理化   總分     平均    名次
郭雅惠  74  84   52  87  297  74.25   4.0
陳欣虹  36  87  100  71  294  73.50   5.0
王孟修  95  99   77  32  303  75.75   3.0
李政勇  86  47   93  91  317  79.25   2.0
陳仲燦  83  72   71  64  290  72.50   6.5
王寧東  80  77   55  69  281  70.25   8.0
楊雅名  94  71   63  92  320  80.00   1.0
藍冰啟  36  75   35  78  224  56.00   9.0
林玉亨  61  90   45  94  290  72.50   6.5
崔承睿  49  35   40  81  205  51.25  10.0